 
  h1 {
    font-size: 90px;
    text-align: center;
   color: rgb(59, 56, 63);
  }
  h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* This actually draws the line */
    text-decoration: underline;
    /* This sets the distance between the text and the line */
    text-underline-offset: 4px; 
    font-size:30px ;
    text-align: center;
  }
  h3 {
    font-weight: bold;         /* Makes the text bold */
    text-decoration: underline; /* Adds the underline */
   font-size:20px;
  }
  p {
    font-size: 16px;
}
body {
    background-blend-mode: lightblue;
}
img {
  width: 100%;       /* Expands to fill horizontal space */
  height: auto;      /* Keeps the image from looking "squashed" */
  max-width: 1200px; /* Optional: prevents it from getting TOO big */
}